<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT+0} %-5level %c{1.} - %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <logger name="akka" level="error"/>
    <logger name="akka.actor.ActorSystemImpl" level="error"/>

    <logger name="kafka" level="error"/>
    <logger name="org.apache.kafka" level="error"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="error"/>
    <logger name="org.apache.kafka.clients.NetworkClient" level="error"/>

    <logger name="org.apache.flink" level="error"/>
    <logger name="org.apache.flink.streaming.api.functions.sink.TwoPhaseCommitSinkFunction" level="error"/>
    <logger name="org.apache.flink.runtime.highavailability.nonha.embedded" level="error"/>
    <logger name="org.apache.flink.runtime.checkpoint.CheckpointCoordinator" level="error"/>
    <logger name="org.apache.flink.runtime.executiongraph" level="error"/>

    <logger name="org.apache.zookeeper" level="error"/>
    <logger name="org.apache.hadoop" level="error"/>
    <logger name="org.apache.spark" level="error"/>

    <logger name="dope.nathan" level="debug"/>
    <logger name="localRunner" level="debug"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>